* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  width: 200px;
  border: solid 1px red;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-image {
  scroll-snap-align: start;
  width: 200px;
  height: 200px;
}
